<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <title th:replace="${title}">Trackomund</title>
    <base th:href="@{''}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/trackomunda.css">
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="common_navigation(active_navigation)">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/static/images/necromunda-logo.png" height="30" class="d-inline-block align-top" alt="Trackomunda"/>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/games">Games</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
</html>