<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Game</title>
</head>
<body>

<div th:insert="~{base :: common_navigation}"></div>

<main>
    <div class="content">
        <h1 th:text="${game.name}"></h1>


        <!-- IF A Gang has already been assigned -->
        <div th:if="${game.gang != null}">
            <div class="gang-card">
                <h3 th:text="${game.gang.name}"></h3>
                <div class="ganger-cards" th:each="ganger: ${game.gang.ganger}">
                    <div class="ganger-card">
                        <span th:text="${ganger.name}"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ELSE -->
        <div th:unless="${game.gang != null}">
            <form method="post" action="#" th:action="@{{gameId}/new-gang(gameId=${game.id})}">
                <label for="yakTribeGangUrl">YakTribe Gang URL</label>
                <input type="text" id="yakTribeGangUrl" name="yakTribeGangUrl"/>
                <button type="submit">Add your YaktribeGang</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>
