<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Games Overview</title>
</head>
<body>
<div th:replace="~{base :: common_navigation(~{::/games})}"></div>


<div class="container" role="main">

    <div class="jumbotron">
        <form class="form-inline" method="post">
            <input type="text" class="form-control" placeholder="Name your Game!" name="gameName" required/>
            <button type="submit" class="btn btn-primary mb-2">Create a new game</button>
        </form>
    </div>

    <div class="page-header">
        <h2>Games</h2>
    </div>

    <div class="list-group col-md-auto">
        <a th:each="game: ${games}" class="list-group-item list-group-item-action  d-flex gap-3 py-3" th:href="@{games/{gameId}(gameId=${game.id})}" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h5 class="mb-0" th:text="${game.name}">another game</h5>
                    <p class="mb-0 opacity-75" th:if="${game.gang != null}" th:text="${game.gang.name}">Gang Name</p>
                    <p class="mb-0 opacity-75" th:unless="${game.gang != null}">No Gang selected yet</p>
                </div>
                <small class="opacity-50 text-nowrap" th:text="'Round ' + ${game.round}">Round</small>
            </div>
        </a>
    </div>
</div>
</body>
</html>
