<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Game</title>
</head>
<body>

<div th:replace="~{base ::  common_navigation(~{::/na})}"></div>

<div class="container" role="main">
    <h2 class="text-center" th:text="${game.name}"></h2>
    <div class="container">
        <div class="row">
            <div th:replace="~{gang ::  gang(${game},${game.gang1},1)}"></div>
            <div th:replace="~{gang ::  gang(${game},${game.gang2},2)}"></div>
        </div>
    </div>
</div>
</body>
</html>
