<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Games Overview</title>
</head>
<body>
<div th:insert="~{base :: common_navigation}"></div>

<main>
    <div class="content">

        <form method="post">
            <input type="text" value="Name of Game" name="gameName"/>
            <button type="submit">Create a new game</button>
        </form>

        <h1>Games:</h1>
        <ul th:each="game: ${games}">
            <li><a th:href="@{games/{gameId}(gameId=${game.id})}" th:text="${game.name}"/></li>
        </ul>
    </div>
</main>
</body>
</html>
