<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Gang</title>
</head>
<body>


<div class="col-sm-6" th:fragment="gang(game, gang, gangIndex)">
    <!-- IF A Gang has already been assigned -->
    <div th:if="${gang != null}">
        <h3 class="text-center" th:text="${gang.name}"></h3>
        <div th:each="ganger: ${gang.ganger}">
            <div class="row">
                <div class="col-md-auto">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="${ganger.name}">Ganger Name</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>M</th>
                                    <th>WS</th>
                                    <th>BS</th>
                                    <th>S</th>
                                    <th>T</th>
                                    <th>W</th>
                                    <th>I</th>
                                    <th>A</th>
                                    <th>LD</th>
                                    <th>Cl</th>
                                    <th>Wil</th>
                                    <th>Int</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${ganger.movement}">M</td>
                                    <td th:text="${ganger.weaponSkill}">WS</td>
                                    <td th:text="${ganger.ballisticSkill}">BS</td>
                                    <td th:text="${ganger.strength}">S</td>
                                    <td th:text="${ganger.toughness}">T</td>
                                    <td th:text="${ganger.wounds}">W</td>
                                    <td th:text="${ganger.initiative}">I</td>
                                    <td th:text="${ganger.attacks}">A</td>
                                    <td th:text="${ganger.leadership}">LD</td>
                                    <td th:text="${ganger.coolness}">Cl</td>
                                    <td th:text="${ganger.willpower}">Wil</td>
                                    <td th:text="${ganger.intelligence}">Int</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ELSE -->
    <div th:unless="${gang != null}">
        <form class="form-inline" method="post" action="#" th:action="@{{gameId}/add-gang(gameId=${game.id})}">
            <div class="form-group">
                <label class="sr-only">YakTribe Gang URL</label>
                <input type="text" class="form-control" placeholder="https://yaktribe.games/underhive/json/gang/293915.json" name="yakTribeGangUrl"/>
                <input type="hidden" name="gangIndex" th:value="${gangIndex}"/>
            </div>
            <button class="btn btn-primary mb-2" type="submit">Add Gang</button>
        </form>
    </div>
</div>
</body>
</html>
